<!doctype html>
<html lang="en">
<head>
	<link rel="stylesheet" href=[% c.uri_for('/E_learning/static/css/wraper.css') %] type="text/css" media="screen" />
</head>
<body>
	<section id="content">
		<aside id="menu">
			<h3>E-learning Portal</h3>
			<a href=[% c.uri_for('/list') %]>
				<section>Find</section>
			</a>
			<a href=[% c.uri_for('/upload') %]>
				<section>Add</section>
			</a>
			<a href=[% c.uri_for('/help') %]>
				<section>Help</section>
			</a>
			<a href=[% c.uri_for('/e_learning/createlecture/listVideos') %]>
				<section>Create lecture</section>
			</a>
			<p>
				<a href="[% c.uri_for('/search/creator') %]/[% user %]">[% user %]</a><br>Watched: [% watched %] lectures<br>created [% created %] lectures<br>Answered [% totalQuestions %] questions and [% correct %] of them where correct<br>
			</p>
		</aside>
		[% content %]
	</section>
	
	<footer>
		<div>
			<p>ICT4MPOWER, UGANDA</p>
			<a href="http://127.0.1.1:3000/e_learning/documentcode/schema">Developer schema</a>
		</div>
	</footer>
</body>
</html>

