<!doctype html>
<html lang="en">
<head>
	<title>YFRHW</title>
	<link rel="stylesheet" href=[% c.uri_for('/static/css/master.css') %] type="text/css" media="screen" />
</head>
<body>

	<header>
		<h1>YFRHW</h1>
	</header>

	<nav>
		<ul>
			<li class="selected"><a href="#">Blog</a></li>
			<li><a href="[% c.uri_for('/upload') %]">Upload</a></li>
			<li><a href="#">Watch</a></li>
		</ul>
	</nav>

	<section id="intro">
		<header>
			<form>Search<input type="text" name="search" /></form>
		</header>
		<h3>Messages: [% Catalyst.flash.status_msg %]</h3>		
	</section>
	
	<div id="content">
		[% content %]
	</div>

	<footer>
		<div>
			<section id="about">
				<header>
					<h3>Instructions</h3>
				</header>
				<p>Add a youtube video, fill in as much data as you can and then click submit</p>
			</section>
			<section id="blogroll">				
			</section>
			<section id="popular">
			</section>
		</div>
	</footer>
	
</body>
</html>
